body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001f3f; /* Bleu marine */
    color: white;
    font-family: Arial, sans-serif;
}

.audio-container {
    text-align: center;
}

audio {
    width: 300px;
    border: none; /* Supprime les bordures par défaut */
    border-radius: 8px;
    outline: none;
}

audio::-webkit-media-controls-panel {
    background-color: transparent;
    color: white;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button {
    filter: invert(0);
}

audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider {
    background-color: white;
}

audio::-moz-range-track,
audio::-moz-range-progress {
    background-color: white;
}

audio::-moz-range-thumb {
    background-color: white;
    border: 1px solid #004080;
}

audio::-ms-fill-lower,
audio::-ms-fill-upper {
    background-color: white;
}
